[Unit]
Description=Prolo Full Node
After=network-online.target

[Service]
User=prolo
Group=prolo
WorkingDirectory=~
StateDirectory=prolo
LogsDirectory=prolo

Type=simple
ExecStart=/usr/bin/prolod --config-file /etc/prolod.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
